* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    overflow-y: scroll;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}



.header {
    position: relative;
    top: 0px;
    width: 100%;
    text-align: center;
    background-color: #002366;
    color: #FFFFFF;
}

.header h1 {
    font-size: 40px;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
}

.content p {
    text-align: center;
}

.links {
    display: block;
    max-width: 310px;
    margin: 0 auto;
    padding: 20px 0px;
    overflow: hidden;
}

.link {
    display: block;
    float: left;
    width: 125px;
    height: 125px;
    margin: 3px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #000000;
}

.link.single {
    margin: 3px 82.5px;
}

.link:hover, .link:active, .project:hover, .project:active {
    background-color:  #EEEEEE;
}

.link .octicon {
    display: block;
    font-size: 96px;
    margin-bottom: 5px;
}

.project {
    display: block;
    width: 280;
    height: 125px;
    margin: 3px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #000000;
    float: left;
}

.project .octicon, .project img {
    display: block;
    float: left;
    font-size: 96px;
    width: 96px;
    margin: 14px 15px 0px 5px;
}

.project p {
    text-align: left;
    line-height: 20px;
}

.hidden {
    display: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h2 {
    text-align: center;
    background-color: #002366;
    color: #FFFFFF;
    height: 40px;
    border-radius: 10px;
    margin-left: -20px;
    margin-right: -20px;
    left: 0px;
    right: 0px;
}

@media (max-width:540px) {
    h2 {
        border-radius: 0px;
    }
}

@media (max-width:350px) {
    .content {
        padding: 10px 0px;
    }
}